body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: #171919;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.subtitle-left {
    position: relative;
    display: inline-block;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 80px;
        height: 1px;
        background: #fff;
        opacity: .5;
        left: -110px;
        top: 15px;
    }
}
.title {
    display: inline-block;
    text-align: right;
    position: relative;
    margin: 167px 0 0 295px;
    h3 {
        margin: 0;
        font-weight: 800;
        font-size: 80px;
        text-transform: uppercase;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 80px;
            height: 1px;
            background: $green;
        }
    }
    span {
        position: absolute;
        top: 30px;
        right: 30px;
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        text-transform: uppercase;
        color: rgba(#fff, .02);
    }
}