body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.subtitle-left {
    position: relative;
    display: inline-block;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 80px;
        height: 1px;
        background: #fff;
        opacity: .5;
        left: -110px;
        top: 15px;
    }
}