@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: relative;
    height: 100vh;

    &__title {
        position: absolute;
        z-index: 2;
        max-width: 470px;
        top: 0;
        left: 0;
        font-style: normal;
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        text-transform: uppercase;
        opacity: 0.07;
        user-select: none;
    }
}

.header__nav {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 168px;
    z-index: 3;
    display: flex;
    flex-direction: column;

    &-logo {
        display: block;
        width: 168px;
        height: 290px;
        background: url('../img/Logo.svg') no-repeat top;
        &:hover {
            opacity: .8;
        }
    }
    &-list {
        width: 100%;
        margin-top: 50px;
        li {
            margin-bottom: 20px;
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        i {
            display: block;
            width: 60px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
        }
        span {
            margin-top: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            color: #ffffff;
        }
        .surf {
            background-image: url('../img/nav-surf.svg');
        }
        .travel {
            background-image: url('../img/nav-travel.svg');
        }
        .sleep {
            background-image: url('../img/nav-sleep.svg');
        }
        .shop {
            background-image: url('../img/nav-shop.svg');
        }
    }
    &-search {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        input {
            display: none;
        }
        button {
            display: block;
            width: 24px;
            height: 24px;
            background: url('../img/nav-search.svg')no-repeat center;
            border: none;
            cursor: pointer;
        }
    }
    &-date {
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        line-height: 64px;
        margin-bottom: 15px;
        text-align: center;
        span {
            display: block;
            padding-top: 15px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }
    }
    &-location {
        margin-top: 15px;
        display: inline-block;
        position: relative;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        &::before {
            content: "";
            position: absolute;
            left: 40px;
            top: 0;
            display: block;
            width: 11px;
            height: 14px;
            background: url('../img/nav-map-marker.svg') no-repeat center;
        }
    }
}
.header__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.path-animation {
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: pathanimate 4s infinite 6s;
}
@keyframes pathanimate {
    to {
        stroke-dashoffset: 0;
    }
}
.header__arrows {
    position: absolute;
    z-index: 3;
    bottom: 40px;
    left: 210px;
    a {
        width: 20px;
        height: 24px;
        display: block;
        background: url('../img/header-dblarrows.svg')no-repeat center;
    }
}
.header__slider {
    &-item {
        background-image: url("../img/header-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }
    &-dots {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 60%;
        position: absolute;
        z-index: 5;
        bottom: 20px;
        right: 80px;
        height: 50px;

        .active {
            border-top: 4px solid $green;
        }
    }
    &-dot {
        width: 200px;
        border-top: 4px solid #fff;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        span:first-child {
            font-weight: 800;
            font-size: 24px;
            line-height: 34px;
            text-transform: uppercase;
        }
        span:nth-child(2) {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            margin-top: 10px;
        }
    }
}

.slider-item {
    position: relative;

    &__arrow-left,
    &__arrow-right {
        position: absolute;
        z-index: 4;
        top: 40px;
        right: 80px;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background: url("../img/header-arrow-right.svg") no-repeat center;
    }
    &__arrow-left {
        right: 125px;
        transform: rotate(180deg);
    }

    &__info {
        position: absolute;
        right: 80px;
        bottom: 115px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
        display: inline-block;
        text-transform: uppercase;

        &-subtitle {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 7.33333px;
            opacity: 0.5;
        }

        &-title {
            font-weight: 800;
            font-size: 80px;
            line-height: 86px;
            margin: 5px 0 30px;
        }

        &-text {
            font-weight: 800;
            font-size: 40px;
            line-height: 86px;
            margin-bottom: 15px;
        }

        &-link {
            i {
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url("../img/header-arrow-right.svg") no-repeat center;
            }
        }
    }
}
.surf {
    text-transform: uppercase;
}



@import "media";
