@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {}

.header__slider {
    &-item {
        background-image: url('../img/header-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }
}

.slider-item {
    position: relative;

    &__info {
        position: absolute;
        right: 80px;
        bottom: 115px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;

        &-subtitle {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 7.33333px;
            opacity: 0.5;
        }

        &-title {
            font-weight: 800;
            font-size: 80px;
            line-height: 86px;
            margin: 5px 0 45px;
        }

        &-text {
            font-weight: 800;
            font-size: 40px;
            line-height: 86px;
            margin-bottom: 15px;
        }

        &-link {
            i {
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url('../img/header-arrow-right.svg') no-repeat center;
            }
        }
    }
}



@import "media";