@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k71jp6');
  src:  url('fonts/icomoon.eot?k71jp6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k71jp6') format('truetype'),
    url('fonts/icomoon.woff?k71jp6') format('woff'),
    url('fonts/icomoon.svg?k71jp6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-shop .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-nav-shop .path2:before {
  content: "\e901";
  margin-left: -0.48046875em;
  color: rgb(0, 0, 0);
}
.icon-nav-sleep:before {
  content: "\e902";
  color: #fff;
}
.icon-nav-surf .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
.icon-nav-surf .path2:before {
  content: "\e904";
  margin-left: -1.2705078125em;
  color: rgb(34, 37, 50);
}
.icon-nav-surf .path3:before {
  content: "\e905";
  margin-left: -1.2705078125em;
  color: rgb(255, 255, 255);
}
.icon-nav-surf .path4:before {
  content: "\e906";
  margin-left: -1.2705078125em;
  color: rgb(255, 255, 255);
}
.icon-nav-surf .path5:before {
  content: "\e907";
  margin-left: -1.2705078125em;
  color: rgb(34, 37, 50);
}
.icon-nav-surf .path6:before {
  content: "\e908";
  margin-left: -1.2705078125em;
  color: rgb(255, 255, 255);
}
.icon-nav-surf .path7:before {
  content: "\e909";
  margin-left: -1.2705078125em;
  color: rgb(34, 37, 50);
}
.icon-nav-travel .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-nav-travel .path2:before {
  content: "\e90b";
  margin-left: -1.576171875em;
  color: rgb(34, 37, 50);
}
.icon-nav-travel .path3:before {
  content: "\e90c";
  margin-left: -1.576171875em;
  color: rgb(255, 255, 255);
}
.icon-nav-travel .path4:before {
  content: "\e90d";
  margin-left: -1.576171875em;
  color: rgb(34, 37, 50);
}
.icon-nav-travel .path5:before {
  content: "\e90e";
  margin-left: -1.576171875em;
  color: rgb(255, 255, 255);
}
.icon-nav-travel .path6:before {
  content: "\e90f";
  margin-left: -1.576171875em;
  color: rgb(34, 37, 50);
}
.icon-nav-travel .path7:before {
  content: "\e910";
  margin-left: -1.576171875em;
  color: rgb(255, 255, 255);
}
.icon-nav-travel .path8:before {
  content: "\e911";
  margin-left: -1.576171875em;
  color: rgb(34, 37, 50);
}
.icon-nav-travel .path9:before {
  content: "\e912";
  margin-left: -1.576171875em;
  color: rgb(255, 255, 255);
}
.icon-nav-travel .path10:before {
  content: "\e913";
  margin-left: -1.576171875em;
  color: rgb(34, 37, 50);
}
.icon-nav-travel .path11:before {
  content: "\e914";
  margin-left: -1.576171875em;
  color: rgb(255, 255, 255);
}
